@import "fonts/Tahoma/styles.scss";
@import "fonts/Calibri/stylesheet.scss";

$main-color: #43b1d2;

body {
    background-color: white;
    font-family: Calibri;
}

.header {
    background-color: $main-color;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 118px;
    }

    .right {
        width: 100%;
    }
}

.menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    &__item {
        font-size: 20px;
        list-style: none;
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }

        a {
            color: #494848;
        }
    }

    &__arrow {
        width: 10px;
        height: 10px;
        fill: #494848;
    }
}


.phone {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__tel {
        font-size: 20px;
        font-family: Tahoma;
        font-weight: bold;
        color: white;

    }

    &__img {
        width: 25px;
        height: 25px;
        fill: white;
        margin-right: 10px;

    }


}
